<!-- WORDCLOUD PAGE -->
<div class="uk-container uk-margin-bottom" id="home-content">
    <div class="uk-padding-large uk-padding-remove-vertical">
        <progress id="ner-wordcloud-progressbar" class="uk-progress" value="0" max="100"></progress>
    </div>
    <form action="/api/NERs" id="ner-wordcloud" method="post">
        <div id="ner-wordcloud-container" class="uk-margin" uk-margin>
            <input class="uk-input uk-form-width-large"
                    id="ner-wordcloud-input"
                    type="text" name="query" placeholder="Barack Obama" value="Barack Obama">
            <button class="uk-button uk-button-default"
                    id="ner-wordcloud-submit"
                    type="submit" form="search" value="Submit">
                Search
            </button>
        </div>
    </form>

    <div class="wordcloud-wrapper">
            <div id="wordcloud">
                <!-- Wordcloud will be generated here. -->
            </div>
    </div>
</div>
